@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.first-block {
    background-color: #1F2937;
    color: white;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 150px;
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.top-right {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

a:link {
    text-decoration: none;
    color: white;
}

.content {
    padding-top: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.image {
    background-color: gray;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 100px;
}

.title-blue {
    font-size: 48px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px 30px;
    border-radius: 8px;
}

/* SECOND BLOCK*/

.second-block {
    margin: 0;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 30px;
}

.four-images {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center; 
}

img {
    height: 150px;
}

.block {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*THIRD BLOCK*/

.third-block {
    background-color: #E5E7EB;
    margin: 0;
    padding: 50px 300px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.author {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

/*FOURTH BLOCK*/

.fourth-block {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: center;
    margin: 100px 200px;
    padding: 50px 25px;
    gap: 100px;
    border-radius: 8px;
}

.first-line {
    font-size: 24px;
    font-weight: bold;
}

.left-block {
    display: flex;
    flex-direction: column;
}

/*FOOTER*/

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px;
}
